**/vendor/
**/node_modules/
**/.env
**/.env.*
!**/.env.example
**/.phpunit.cache/
**/.phpunit.result.cache
**/database/*.sqlite
**/database/*.sqlite-*
**/bootstrap/cache/*.php
**/storage/**/*.log
**/storage/framework/cache/data/*
**/storage/framework/sessions/*
**/storage/framework/views/*
!**/.gitignore
eksperimen/session-php/config.php
.DS_Store
Thumbs.db
.idea/
.vscode/
